<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tienda | Sanchez Carrillo Wines</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/imgs/logo.png" alt="">
        </div>
        <div class="menu">
            <ul>
                <li><a href="/">Tienda</a></li>
                <li><a href="">Trabaja con nosotros</a></li>
                <li><a href="">Ventas corporativas</a></li>
                <li><a href="">Nuestras tiendas</a></li>
                <li><a href="">¿Quiénes somos?</a></li>

            </ul>
        </div>
        <div class="registerForm">
            <form action="submit">
                <input type="text" class="inputText" placeholder="Nombre" name="name" id="">
                <input type="text" class="inputText" placeholder="Email" name="password" id="">
                <div class="checkCont">
                    <input type="checkbox" id="accept-terms" value="">

                    <label>
                        Aceptar términos y condiciones
                    </label>

                </div>
                <button>Registrarse</button>
            </form>
        </div>
    </div>

    <!--

        Here is the content container
    -->
    <div class="app">

        <div class="forPopUp">
        </div>
        <!--

            There are the bars, they are fixed in their position
        -->
        <div class="upperBar">
            <div class="searchingBar">
                <div class="icon searchIcon">
                    <img src="/imgs/icos/search.png" style="width: 20px" alt="">
                </div>
                <input type="text" placeholder="Buscar un vino" name="" id="">
            </div>
            <div class="icon bag">
                <img src="/imgs/icos/bag.png" alt="">
            </div>
        </div>

        <div class="filterBar">
            <form action="">

                <label>Ordenar por:</label>
                <select name="" id="sortFilter">
                    <option value="">Ordenar por</option>
                    <option value="">Nombre</option>
                    <option value="">Precio</option>
                    <option value="">Añejado</option>
                </select>
                <label>Rango de precios</label>
                <input name="" type="range" min="200" max="900" step="100" id="priceFilter" />
            </form>
        </div>

        <!--

            Here start the content of the products
        -->
<div class="popup">
        <div class="productContainer">

        <div class="imageContainer" style="background-image:url('/imgs/Coleccion/{{fondo}}')">
            <div class="wineImage" style="background-image:url('/imgs/Coleccion/{{imagen}}')">

            </div>
        </div>
        <div class="detailsContainer">
            <div class="title">
                <h3>{{nombre}} (800ml)</h3>
                <h6>{{tipo}} - Añejado: {{añejado}} años</h6>
                <h6 class="description">{{descripcion}}</h6>     
            </div>

            <div class="price">
                <h6>Precio</h3>
                    <h3>${{precio}}</h3>
            </div>

            <div class="quantity">
                <h6>Cantidad</h6>
                <input type="number" name="" id="" value="1">
            </div>
            <a href="/">
            <div class="buttonAddBag">
                <div class="icon">
                    <img src="/imgs/icos/bag.png" alt="">
                </div>
                <p>Agregar a la bolsa</p>
            </div>
            </a>

        </div>
    </div>
    </div>
        <div class="changeView">
            <div class="icon">
                <img src="/imgs/icos/bag.png" alt="">
            </div>
        </div>
        {{#each productos}}
        <a href="/productos">
        <div class="wineContainer" style="background-image:url('/imgs/Coleccion/{{fondo}}')">
            <div class="wineImage" style="background-image:url('/imgs/Coleccion/{{imagen}}')">

            </div>
            <div class="wineDescription">
                <div class="name">
                    <p>{{nombre}}</p>
                </div>
                <div class="character">
                    <p>{{tipo}}</p>
               
                </div>
            </div>
        </div>
        </a>

        {{/each}}

    </div>

    <script src="/dist/main.js"></script>
</body>